{% extends "layout.html" %}

{% block title %}Forms{% endblock %}

{% block render_body %}
    <h1 class="display-5">Передача даних: параметри та форми</h1>
    <p>
        Передача даних, зазвичай, здійснюється двома традиційними
        способами: за допомогою URL-параметрів (GET-параметрів або Query)
        або через форми. 
    </p>
    <p>
         URL-параметри: x = <input id="query-data" value="{{x}}" /> 
            <input type="button" id="query-button" value="Send"/>
        <br/>
        В URL-параметрах важливо не забувати про URL-кодування,
        згадуємо про перевірку "2+2"
    </p>
    <p>
        Повний GET: {{get}}, відокремлений x = {{x}}
    </p>

    <p>
        Форми - задаються спеціальними класами (нащадками Form)
        з декларативним описом структури полів. Конструктор класа 
        викликається при формуванні контексту шаблона, результат 
        може бути поданий в одному з закладених стилів: блоками (за замовчанням), 
        параграфами, переліком чи таблицею.
        Слід звернути увагу, що ані тег форми, ані тег оточення 
        (переліку чи таблиці) не формується відповідними інструкціями
        Також якщо форма передається методом POST, то до неї слід 
        включати токен захисту 
        {&percnt; csrf_token &percnt;} - Cross Site Request Forgery
        (або вимкнути систему захисту з боку представлення)
    </p>

    <div class="row">
        <div class="col">
            <h3>as_div</h3>
            {{ demo_form.as_div }}
        </div>
        <div class="col">
            <h3>as_p</h3>
            {{ demo_form.as_p }}
        </div>
        <div class="col">
            <h3>as_ul</h3>
            <ul>
                {{ demo_form.as_ul }}
            </ul>            
        </div>
        <div class="col">
            <h3>as_table</h3>
            <table>
                {{ demo_form.as_table }}
            </table>            
        </div>
    </div>
<hr />
    <form method="post" class="border m-3 p-2">
        {{ demo_form }}
        {% csrf_token %}
        <input type="submit" value="Send" />
    </form>
    {{ demo_form.errors }}
{% endblock %}

Д.З. Сворити форму Django з різноманітними типами полів 
введення: текстові, числові, дата, чекбокси, радіо
тощо. Для прикладу - реєстрація користувача. 
Описати необхідні класи та поля
Додати скріншоти.